body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif !important;
    background-color: #f6f6f6;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif !important;
}
a{
    text-decoration: none;
    color: black;
}

nav {
    background-color: white;
    position: sticky !important;
    top: 0 !important;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 10px;
}
nav ul li {
    list-style-type: none;
}
nav ul li a:hover{
    color: lightblue;
}
.username {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#bar {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    position: absolute;
    top: 70px;
    right: 0px;
    padding: 20px;
    z-index: 10;
   

}
#bar li a{
    font-weight: bold;
    padding: 10px;
}
#bar li a:hover{
    background-color: lightblue;
    border-bottom: 2px solid lightblue;
    color: black;
}

.hide{
    display: none !important;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
input{
    border-radius: none !important;
    border: none !important;
}
button{
    border: none;
    outline: none;
    background-color: transparent !important;
}

@media (max-width: 767.98px) { .border-sm-start-none { border-left: none !important; } }






















/* form */
/* main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:50px;
}
input {
    height:30px;
    width:100%;
    margin-bottom : 10px;
    padding-left:10px;
    outline:none;
    border:none;
}
input:focus{
    border:2px solid lightblue;
}
.error{
    color:red;
    text-align:center;
    padding-top:10px;
} */